body {
  background: linear-gradient(40deg, #e4dfda, #8b95c9);
}

.card-holder {
  max-width: 1000px;
  padding: 20px;
  border: 1px solid #478978;
  border-radius: 5px;
  margin: 30px auto;
}

h1 {
  text-align: center;
  color: #478978;
  font-family: "Roboto", sans-serif;
  line-height: 70px;
  font-size: 34px;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #478978;
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 0;
}

h3 {
  font-family: "Roboto", sans-serif;
  border: thin;
  font-size: 22px;
  color: #84dcc6;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  color: #478978;
  font-size: 22px;
  font-weight: 100;
}

hr {
  color: #478978;
}

input[type="submit"] {
  background-color: #8b95c9;
  border-color: white;
  color: white;
}

input[type="submit"]:hover {
  transition: all, ease-in-out, 200ms;
  background-color: #fff;
  border-color: #8b95c9;
  color: #8b95c9;
  cursor: pointer;
}

.card {
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  border-color: #8b95c9;
}

.card-header {
  color: #478978;
  border-color: #8b95c9;
}

.card-date {
  font-weight: lighter;
}

.border-info {
  border-color: yellow;
}

.col-3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  border-color: #8b95c9;
}

.dynamic {
  text-align: left;
}

.col {
  text-align: center;
}
